In [1]:
import pandas as pd

In [2]:
def na_table(x):
    na = pd.DataFrame(x.isna().sum())
    nna = pd.DataFrame(x.notna().sum())
    na.reset_index(inplace=True)
    nna.reset_index(inplace=True)
    na = na[na[0]>0]
    na = na.merge(nna, on='index')
    na.columns = ['col', 'isNA', 'notNA']
    return na

In [3]:
data_dir = '../train/'
features_dir = '../features/'
other_info = pd.read_csv(data_dir + 'other_info.csv',encoding = 'gbk')
other_info.drop_duplicates(inplace=True)
na = na_table(other_info)
na

                  col  isNA  notNA
0  legal_judgment_num   884   1006
1           brand_num   981    909
2          patent_num  1494    396

In [4]:
temp = pd.DataFrame(other_info.id.value_counts()).reset_index()
temp.columns = ['id', 'counts']
other_info = other_info.groupby('id').sum().reset_index().merge(temp, on='id')
other_info
other_info.legal_judgment_num = other_info.legal_judgment_num / other_info.counts
other_info.brand_num = other_info.brand_num / other_info.counts
other_info.patent_num = other_info.patent_num / other_info.counts
del other_info['counts']
other_info.head()

,id,legal_judgment_num,brand_num,patent_num
0,09912c34159b1720558a419983a989f1dd2e0ed69a044ca3,10.0,34.0,4.0
1,0ba26b418aa50d3ca37396f2819750892b17f0dce3d7493c,0.0,6.0,0.0
2,175ebe5f059ec0503eb86987a7b6da7c40c6e69d5b54736f,4.0,1.0,0.0
3,175ebe5f059ec050afbd65251ecdd3b512bfbe5e62d041b0,5.0,5.0,0.0
4,175ebe5f059ec050fd7ca59c6cc38b6e998034ae3cfb02bf,0.0,17.0,0.0

In [5]:
na_table(other_info)

Empty DataFrame
Columns: [col, isNA, notNA]
Index: []

In [6]:
other_info.set_index(keys='id', inplace=True)
other_info.to_csv(features_dir + 'other_info.csv')