In [1]:
import datetime
import numpy as np
import pandas as pd

In [2]:
def na_table(x):
    na = pd.DataFrame(x.isna().sum())
    nna = pd.DataFrame(x.notna().sum())
    na.reset_index(inplace=True)
    nna.reset_index(inplace=True)
    na = na[na[0]>0]
    na = na.merge(nna, on='index')
    na.columns = ['col', 'isNA', 'notNA']
    return na

In [3]:
data_dir = '../train/'
features_dir = '../features/'
base_info = pd.read_csv(data_dir + 'base_info.csv',encoding='gbk')
base_info.drop_duplicates(inplace=True)
na = na_table(base_info)
na

              col   isNA  notNA
0      industryco      1  24864
1     enttypeitem   8214  16651
2            opto  16040   8825
3          empnum   5250  19615
4        compform  14234  10631
5          parnum  22526   2339
6          exenum  23487   1378
7          opform  15865   9000
8      ptbusscope  24865      0
9          venind  16428   8437
10    enttypeminu  17595   7270
11  midpreindcode  24865      0
12        protype  24831     34
13         regcap    191  24674
14         reccap  17781   7084
15      forreccap  24638    227
16      forregcap  24615    250
17         congro  24616    249

In [4]:
base_info.industryco.fillna(0, inplace=True)
base_info.enttypeitem.fillna(0, inplace=True)
base_info.opfrom = pd.to_datetime(base_info.opfrom)
base_info.opfrom = base_info.opfrom.apply(lambda x:datetime.datetime.now() - x)
base_info.opfrom = base_info.opfrom.apply(lambda x:x.days)
base_info.opto = pd.to_datetime(base_info.opto)
base_info.opto = base_info.opto.apply(lambda x:datetime.datetime.now() - x)
base_info.opto = base_info.opto.apply(lambda x:x.days)
# base_info.opto_cat = base_info.opto.isna()

In [5]:
# base_info['opto_cat_'] = base_info.opto.isna()
# base_info['empnum_cat_'] = base_info.empnum.isna()
# base_info.parnum.fillna(0, inplace=True)
# base_info.exenum.fillna(0, inplace=True)
# base_info['parnum_cat_'] = base_info.parnum.isna()
# base_info['exenum_cat_'] = base_info.exenum.isna()
# base_info.enttypeminu.fillna(0, inplace=True)
# base_info['reccap_cat_'] = base_info.reccap.isna()
# base_info.drop(columns=drop_col, inplace=True)
base_info.compform.fillna(0, inplace=True)
base_info.opform.fillna(0, inplace=True)
base_info.venind.fillna(0, inplace=True)
def fill_regcap(x):
    try:
        x.regcap = temp[temp.enttypeitem == x['enttypeitem']].regcap.values[0]
    except IndexError:
        pass
    return x
temp = pd.DataFrame(base_info.groupby('enttypeitem').regcap.mean()).reset_index()
base_info = base_info.apply(fill_regcap, axis=1)
na_table(base_info)

              col   isNA  notNA
0            opto  16040   8825
1          empnum   5250  19615
2          parnum  22526   2339
3          exenum  23487   1378
4      ptbusscope  24865      0
5     enttypeminu  17595   7270
6   midpreindcode  24865      0
7         protype  24831     34
8          regcap    186  24679
9          reccap  17781   7084
10      forreccap  24638    227
11      forregcap  24615    250
12         congro  24616    249

In [6]:
base_info.set_index(keys='id', inplace=True)
base_info.to_csv(features_dir + 'base_info.csv')