In [2]:
import os
import pandas as pd

In [2]:
def na_table(x):
    na = pd.DataFrame(x.isna().sum())
    nna = pd.DataFrame(x.notna().sum())
    na.reset_index(inplace=True)
    nna.reset_index(inplace=True)
    na = na[na[0]>0]
    na = na.merge(nna, on='index')
    na.columns = ['col', 'isNA', 'notNA']
    return na

In [6]:
features

,id,oplocdistrict,industryphy,industryco,dom,enttype,enttypeitem,opfrom,opto,state,...,tax246,tax247,tax248,tax249,tax250,tax251,tax252,tax253,tax254,tax255
0,47645761dc56bb8c5fae00114b768b5d9b6e917c3aec07c4,340223,M,7513.0,31487d8f256f16bd6244b7251be2ebb24d1db51663c654...,1100,1150.0,474,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9c7fa510616a683058ce97d0bc768a621cd85ab1e87da2a3,340222,O,8090.0,31487d8f256f16bd6244b7251be2ebb27b17bdfd95c8f3...,9600,0.0,1147,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,59b38c56de3836838082cfcb1a298951abfe15e6940c49ba,340202,R,9053.0,31487d8f256f16bd6244b7251be2ebb2ae36cd652943e8...,1100,1150.0,43,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e9f7b28ec10e047000d16ab79e1b5e6da434a1697cce7818,340221,L,7212.0,746df9aaed8578571760c563abe882c8ba25209fc6d5db...,4500,4540.0,1854,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f000950527a6feb63ee1ce82bb22ddd1ab8b8fdffa3b91fb,340202,R,8810.0,31487d8f256f16bd6244b7251be2ebb2ae36cd652943e8...,1100,1130.0,1061,-17200.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24860,f1c1045b13d18329a2bd99d2a7e2227688c0d69bf1d1e325,340225,O,8131.0,31487d8f256f16bd6244b7251be2ebb227ca54d864983f...,9600,0.0,4267,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24861,f000950527a6feb6bde38216d7cbbf32e66d3a3a96d4dbda,340207,J,6790.0,31487d8f256f16bdb06579d53b25cbb6c4a6c18662c495...,4500,4530.0,1775,-16487.0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24862,da8691b210adb3f65b43370d3a362f4aa1d3b16b5ba0c9d7,340207,O,8111.0,ca213febe80e171c3b9617e39b49d64e4a4abca4f2d760...,9600,0.0,3071,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24863,516ab81418ed215dcbbf0614a7b929e691f8eed153d7bb31,340225,O,8090.0,31487d8f256f16bd6244b7251be2ebb227ca54d864983f...,1100,1130.0,2933,NaN,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24864,9c7fa510616a68303d3427d4bfd4b0cf3e4843f2bf3f637a,340222,N,7830.0,31487d8f256f16bd6244b7251be2ebb27b17bdfd95c8f3...,9600,9600.0,3441,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
features_dir = '../features/'
if os.path.exists(features_dir + 'opscope.csv'):
    opscope = pd.read_csv(features_dir + 'opscope.csv')
annual_report_info = pd.read_csv(features_dir + 'annual_report_info.csv')
annual_report_info_ = pd.read_csv(features_dir + 'annual_report_info_.csv')
base_info = pd.read_csv(features_dir + 'base_info.csv')
change_info = pd.read_csv(features_dir + 'change_info.csv')
entprise_info = pd.read_csv(features_dir + 'entprise_info.csv')
news_info = pd.read_csv(features_dir + 'news_info.csv')
other_info = pd.read_csv(features_dir + 'other_info.csv')
tax_info = pd.read_csv(features_dir + 'tax_info.csv')
tax_info_ = pd.read_csv(features_dir + 'tax_info_.csv')

In [5]:
features = base_info.copy()
if 'annual_report_info' in locals().keys():
    features = features.merge(annual_report_info, on='id', how='left')
if 'annual_report_info_' in locals().keys():
    features = features.merge(annual_report_info_, on='id', how='left')
if 'opscope' in locals().keys():
    features = features.merge(opscope, on='id', how='left')
if 'change_info' in locals().keys():
    features = features.merge(change_info, on='id', how='left')
if 'news_info' in locals().keys():
    features = features.merge(news_info, on='id', how='left')
if 'other_info' in locals().keys():
    features = features.merge(other_info, on='id', how='left')
if 'tax_info' in locals().keys():
    features = features.merge(tax_info, on='id', how='left')
    features['tax_cat_'] = features.TAX_AMOUNT.isna()
if 'tax_info_' in locals().keys():
    features = features.merge(tax_info_, on='id', how='left')
    features['tax_cat_'] = features.TAX_AMOUNT.isna()

In [5]:
print(features.shape)
na = na_table(features)
na

(24865, 410)

            col   isNA  notNA
0          opto  16040   8825
1        empnum   5250  19615
2        parnum  22526   2339
3        exenum  23487   1378
4    ptbusscope  24865      0
..          ...    ...    ...
384      tax251  24057    808
385      tax252  24057    808
386      tax253  24058    807
387      tax254  24058    807
388      tax255  24058    807

[389 rows x 3 columns]

In [6]:
threshold = 0.3
col_names = []
for i in (na[na.isNA > threshold * na.shape[0]].col[:-1]):
    col_name = i + '_cat_'
    if col_name not in features.columns:
        col_names.append(col_name)
        features[col_name] = features[i].isna()
features.drop(columns=na[na.isNA==features.shape[0]].col, inplace=True)
open(features_dir + 'cat_cols_expand', 'w').write(str(col_names))

6189

In [7]:
features = features.merge(entprise_info, on='id', how='left')
pd.DataFrame(features[features.label.notna()].label.value_counts())

     label
0.0  13884
1.0    981

In [8]:
features.set_index('id', inplace=True)
features[features.label.notna()].to_csv(features_dir + 'train_test.csv')
features[features.label.isna()].to_csv(features_dir + 'evaluate.csv')